In [1]:
#Add Matplotlib inline magic command
%matplotlib inline

In [2]:
#Import dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#Load & read files
city_data_df = pd.read_csv("Resources/city_data.csv")
ride_data_df = pd.read_csv("Resources/ride_data.csv")

In [4]:
#Inspect the data - city
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [5]:
#Inspect the data - rides
ride_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     2375 non-null   object
 1   date     2375 non-null   object
 2   fare     2375 non-null   float64
 3   ride_id  2375 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [6]:
#get all the empty rows = info()
#city_data_df.isnull().sum()

#get the count of the rows in each column = info()
#city_data_df.count()

#get the data type for each column = info()
#city_data_df.dtypes

In [7]:
#get the unique values from the city df, "type" column.
city_data_df["type"].unique()
#len(city_data_df["type"].unique())

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [8]:
#Get the number of data points from the Urban cities.
sum(city_data_df["type"] == "Urban")

66

In [9]:
#Get the number of data points from the Rural cities.
sum(city_data_df["type"] == "Rural")

18

In [10]:
#Get the number of data points from the Suburban cities.
sum(city_data_df["type"] == "Suburban")

36

In [12]:
#city_data_df["city"].unique()
len(city_data_df["city"].unique())

120

In [13]:
#ride_data_df["city"].unique()
len(city_data_df["city"].unique())

120

In [14]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban